<footer class="page-footer font-small purple pt-4 fixed-bottom" id="mycustomfooter">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">


  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
     <a href="https://www.linkedin.com/in/avanesy/">
          <img  class="icon" src="images/linkedin.png">
        </a>

       <a href="https://github.com/DianaAvanesy">
          <img   class="icon" src="images/git.png">
        </a>

        <a href="mailto:dianaskybin@gmail.com">
          <img   class="icon" src="images/email.png">
      </a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
