<div class="container">
  <div class="row">
    <div class="col-md-2">
      <img src="images/mypicture.jfif" class="img-fluid rounded-start" alt="Diana Avanesian">
    </div>
    <div class="col-md-10">
      <h3>Highlignts</h3>
      <ul class="list-group">
        <li class="list-group-item">Top College student (97th percentile) with over 90% average GPA</li>
        <li class="list-group-item">University-level math and algorithm theory fundamentals</li>
        <li class="list-group-item">Exposure to a variety of programming languages including Java, C, Python</li>
        <li class="list-group-item">Exceptional ability to manage and deliver on time individual and team projects
        </li>
        <li class="list-group-item">Effective written and verbal communication and presentation skills</li>
      </ul><br>

      <h3>Professional Experience</h3>
      <ul class="list-group">
        <li class="list-group-item">
          <div class="container">
            <div class="row">
              <div class="col">
                2021 - Present
              </div>
              <div class="col-10">
                .NET5 Architecture Team Lead at GreatIdeaz
              </div>
            </div>
            <div class="row">
              <div class="col">
                2020 - 2021
              </div>
              <div class="col-10">
                Programmer Analyst at GreatIdeaz
              </div>
            </div>
          </div>
        </li>
    </ul><br>

      <h3>Education</h3>
      <ul class="list-group">
        <li class="list-group-item"> Computer Science College Diploma (Georgian College) Canada</li>
        <li class="list-group-item"> Applied Mathematics Bachelor Degree (On Hold) Ukraine</li>
      </ul>
    </div>
  </div>
</div>