<div class="container">

<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="images/mypicture.png" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Highlignts</h5>
        <ul class="list-group">
            <li class="list-group-item">Top College student (97th percentile) with over 90% average GPA</li>
            <li class="list-group-item">University-level math and algorithm theory fundamentals</li>
            <li class="list-group-item">Exposure to a variety of programming languages including Java, C, Python</li>
            <li class="list-group-item">Exceptional ability to manage and deliver on time individual and team projects</li>
            <li class="list-group-item">Effective written and verbal communication and presentation skills</li>
        </ul>

       <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>



</div>
