<div class="container">
    <div class="row">
      <div class="col-md-2">
        <img src="images/mypicture.jfif" class="img-fluid rounded-start" alt="Diana Avanesian">
      </div>
      <div class="col-md-10">
          <h3>Highlignts</h3>
          <ul class="list-group">
            <li class="list-group-item">Top College student (97th percentile) with over 90% average GPA</li>
            <li class="list-group-item">University-level math and algorithm theory fundamentals</li>
            <li class="list-group-item">Exposure to a variety of programming languages including Java, C, Python</li>
            <li class="list-group-item">Exceptional ability to manage and deliver on time individual and team projects
            </li>
            <li class="list-group-item">Effective written and verbal communication and presentation skills</li>
          </ul>
          <h3>Professional Experience</h3>
          <ul class="list-group">
            <li class="list-group-item">Greatideaz: .NET5 Architecture team lead (2021)</li>
            <li class="list-group-item">Greatideaz: Programmer Analyst (2020)</li>
          </ul>
      </div>
    </div>
</div>