<div class="container">
    <section>
        <p class="text-center w-responsive mx-auto mb-5 description">
            Do you have any questions?
            Please do not hesitate to contact me directly.
        </p>
    </section>
    <section>
          <!-- This is a form that on post will try to navigate to the send page-->
        <form action="/send" method="post">

            <div class="row">
                <div class="col">
                    <label for="name">Full name* :</label><br>
                    <input class="form-control" type="text" id="name" name="name" ><br>
                </div>
                <div class="col">
                    <label for="email">Email address* :</label><br>
                    <input class="form-control" type="text" id="email" name="email"><br><br>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="message">Your message* :</label><br>
                    <textarea class="form-control md-textarea" type="text" id="message" name="message" rows="6"></textarea>
                </div>
            </div>
            <div class="row justify-content-end">     
                <div class="col-2">
                    <button type="submit" class="btn btn-primary btn-space">Send email</button>
                </div>
            </div>
        </form>
    </section>
</div>