<div class="container">
    <section>
        <p class="text-center w-responsive mx-auto mb-5">
            Do you have any questions? Do you want to colaborate?
            Please do not hesitate to contact me directly.
        </p>
    </section>
    <section>
        <form action="/send" method="post">

            <div class="row">
                <div class="col">
                    <label for="name">Full name:</label><br>
                    <input class="form-control" type="text" id="name" name="name" value=""><br>
                </div>
                <div class="col">
                    <label for="email">Email address:</label><br>
                    <input class="form-control" type="text" id="email" name="email" value=""><br><br>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="message">Your message:</label><br>
                    <textarea class="form-control md-textarea" type="text" id="message" name="message" value="" rows="6"></textarea>
                </div>
            </div>
                    <button type="submit" class="btn btn-primary btn-space">Submit</button>
        </form>
    </section>
</div>