<div class="container" id="index-container">
  <p> Top student with a strong desire to learn, 1+ years of experience. Now availible to you!</p>
</div>
<div class="container">
<svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
  <path fill="#fbf3eb" d="M38.2,-67.6C50.9,-58.8,63.6,-51.4,69.8,-40.4C76,-29.4,75.7,-14.7,75.5,-0.2C75.2,14.4,74.9,28.8,68.8,39.9C62.7,51.1,50.7,59,38.2,65.4C25.8,71.8,12.9,76.6,-0.4,77.2C-13.6,77.8,-27.2,74.2,-39.9,68C-52.7,61.8,-64.7,53,-71,41.3C-77.3,29.5,-78,14.8,-76.6,0.8C-75.1,-13.1,-71.5,-26.1,-66.5,-40.1C-61.4,-54.1,-55,-69.1,-43.6,-78.7C-32.3,-88.3,-16.2,-92.5,-1.7,-89.6C12.7,-86.6,25.5,-76.4,38.2,-67.6Z" transform="translate(100 100)" />
</svg>
</div>

