<div class="container">
    <div class="row"></div>
    <div class="row custom-cards">
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="images/car.jfif" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Arduino Car</h5>
                    <p class="card-text">Small personal school project based on Arduino Uno with additional shields and sensors to provide obstacle avoidance, line following, IR remote control.</p>
                    <a href="https://github.com/DianaAvanesy/arduino-autonomous-car" class="btn btn-primary">Go to the sourse code</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="images/mars.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"> JavaFX Mars App</h5>
                    <p class="card-text">This JavaFX App allow user to get pictures taken by Curiosity. The app use NASA free API's for Mars Rover Photos.</p>
                    <a href="#" class="btn btn-primary">Go to the sourse code</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="images/epidemics.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">JavaFX App of the worst Epidemics</h5>
                    <p class="card-text"> Do you think COVID-19 is the worst pandemic ever? Check this new app and compare it!</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>