body {
  font-family: Caveat;
  font-size: 14px;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a{
  padding: 20px;
  color: black !important;
}

.mycustomfooter{
  background-color: black;

}

header{
  background-color: #fbf3eb;
  font-family: Knewave;
  font-size: 14px;
  width: 100%;
  margin: 0;
  padding: 0;

}
.nav-link{
  color: #384e74 !important;
}

.nav{
  margin: auto;

}

footer{
  background-color: black !important;
  
}

#logo{
  width: 104px;
  height: 49px;
  align-self: flex-start;
}

.nav-pills{
align-content: right;

}

#index-container{
  display: flex;
  justify-content: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 40px;
  width: 60%;
  color: #384e74;
  background-color:rgba(212, 193, 164, 0.3);
  font-family: Knewave;

}

.btn-primary{
  background-color: #23324b !important;

}
.custom-cards{
  padding-top: 3%;
}
.icon{
  width: 25px;
  height: 25px;
}